#next-popup {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5555;
}

.popup-wrapper {
  position: relative;
  box-sizing: content-box;
  background-color: $bgColor;
  color: $fontColor;
  border-radius: $radiusSize;
  box-shadow: $boxShadow;

  & .popup-arrow {
    position: absolute;
    width: $arrowSize;
    height: $arrowSize;
    overflow: visible;
    pointer-events: none;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $arrowSize;
      height: $arrowSize;
      background-color: $bgColor;
      @include prefix(transform, rotate(45deg));
    }
  }

  & .popup-content {
    padding: 8px 12px;
  }
}

// placement arrow
.popup-wrapper {
  // top
  &.placement-top,
  &.placement-top-start,
  &.placement-top-end {
    & > .popup-arrow {
      bottom: -$arrowHalfSize;
    }
  }
  &.placement-top {
    & > .popup-arrow {
      left: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-top-start {
    & > .popup-arrow {
      left: #{$arrowHalfSize + 8px};
    }
  }
  &.placement-top-end {
    & > .popup-arrow {
      right: #{$arrowHalfSize + 8px};
    }
  }
  // right
  &.placement-right,
  &.placement-right-start,
  &.placement-right-end {
    & > .popup-arrow {
      left: -#{$arrowHalfSize - 1px};
    }
  }
  &.placement-right {
    & > .popup-arrow {
      top: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-right-start {
    & > .popup-arrow {
      top: #{$arrowHalfSize + 4px};
    }
  }
  &.placement-right-end {
    & > .popup-arrow {
      bottom: #{$arrowHalfSize + 4px};
    }
  }
  // bottom
  &.placement-bottom,
  &.placement-bottom-start,
  &.placement-bottom-end {
    & > .popup-arrow {
      top: -#{$arrowHalfSize - 1px};
    }
  }
  &.placement-bottom {
    & > .popup-arrow {
      left: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-bottom-start {
    & > .popup-arrow {
      left: #{$arrowHalfSize + 8px};
    }
  }
  &.placement-bottom-end {
    & > .popup-arrow {
      right: #{$arrowHalfSize + 8px};
    }
  }
  // left
  &.placement-left,
  &.placement-left-start,
  &.placement-left-end {
    & > .popup-arrow {
      right: -#{$arrowHalfSize - 1px};
    }
  }
  &.placement-left {
    & > .popup-arrow {
      top: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-left-start {
    & > .popup-arrow {
      top: #{$arrowHalfSize + 4px};
    }
  }
  &.placement-left-end {
    & > .popup-arrow {
      bottom: #{$arrowHalfSize + 4px};
    }
  }
}

/* animation style */
.fade-enter-from,
.fade-exit-to {
  opacity: 0;
  transform: scale(0.7);
}

.fade-enter-active,
.fade-exit-active {
  transition: transform 0.1s cubic-bezier(0.34, 0.69, 0.1, 1), opacity 0.1s ease;
}
