/**
 * Basic
 */

.popover-wrapper {
  position: relative;
  box-sizing: content-box;
}

.popover-wrapper .popover-content {
  box-sizing: content-box;
}

.popover-wrapper .popover-arrow {
  box-sizing: content-box;
}

.popover-wrapper .popover-arrow .arrow.inherent {
  display: block;
}

.popover-wrapper .popover-arrow svg.arrow {
  background: transparent !important;
}

/* animation style */
.fade-enter-from,
.fade-exit-to {
  opacity: 0;
  transform: scale(0.7);
}

.fade-enter-active,
.fade-exit-active {
  transition: transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1), opacity 0.2s ease;
}

/**
 * Default: light mode
 * ================================ */

.popover-wrapper .popover-content {
  padding: 0.5rem;
  border-radius: 6px;
  background: #333;
  color: #fff;
  box-shadow: 0 12px 20px 6px rgb(104 112 118 / 0.08);
}

.popover-wrapper .popover-arrow .arrow {
  background: #333;
}
